---
---

@import url("{{ '/assets/css/left-nav.css' | relative_url }}");
@import url("{{ '/assets/css/layout.css' | relative_url }}");
@import url("{{ '/assets/css/pygments-css/friendly.css' | relative_url }}");
@import url("{{ '/assets/css/tabs.css' | relative_url }}");

.doc-section-title{
    display: block;
    font-size: 21px;

}

main{
    background: white;
}

#sidebar-container{
    border-right: 1px solid #e3e3e3;
}
.footer-principal{
    border-top: 1px solid #e3e3e3;
}

.sub-title{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

div.highlight{
    padding: 12px;
    border-radius: 6px;
}


